<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Pubs.io</title>
  <meta name="description" content="Find your local pubs with no click!">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/pub.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  
  <meta property='og:title' content='Pubs.io'>
  <meta property='og:type' content='website' >
  <meta property='og:description' content='Find your local pubs with no click!.'>
  <meta property='og:url' content='http://www.pubs.io/' >
  <meta property='og:image' content='http://www.pubs.io/apple-touch-icon-144x144-precomposed.png'>
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="apple-mobile-web-app-title" content="Pubs.io">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-58x58-precomposed.png">
  <link rel="shortcut icon" href="/apple-touch-icon-58x58-precomposed.png">
  
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#ffffff">
</head>
<body data-uid="<%= session[:user_id] %>">
  <header>
    <h1 class="logo">Pubs.io</h1>
    <i class="pint"></i>
  </header>
  <article>
    <p id="status">Locating, please wait...<br/><small>Tip: don't forget to allow geolocation request</small></p>
    <div id="mapcanvas"></div>
    <div id="venue">
      <div class="content">
        <h2></h2>
        <p></p>
        <div class="info">
          <span class="checkins"></span>, 
          <span class="tips"></span>              
        </div>
        <nav>
          <a class="addCheckin button">Checkin</a>
          <a class="like button">Like</a>
          <a class="dislike button">Dislike</a>
          <div class="tabNav">
            <a class="open-photos tab">Photos</a>
            <a class="open-tips tab">Tips</a>
          </div>
        </nav>
        <div class="tabs">
          <div class="tab photos"><div class="list">Loading...</div></div>
          <div class="tab tips">
            <div class="tipForm"><textarea placeholder="Would you like to share your thoughts about this pub?"></textarea><a class="addTip button">Add</a></div>
            <div class="list">Loading...</div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <footer>
    <small>
      Find your local pubs with no click!<br/>
      Logo by <a target="_blank"  href="http://erkin.kin82.de">Erkin Gören</a> &middot; <a target="_blank" href="https://github.com/hackberry-gh/pubs.io">Github</a> &middot; <a target="_blank"  href="http://hackberry.biz">Hackberry</a>
    </small>
  </footer>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUVODqQp6rM79wlTWbq1v80N6rY1DiKko"></script>
  <script type="text/javascript" src="/pub.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53494982-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>