/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{text-align:center;padding:24px 12px 12px 12px;font-family: 'PT Serif', serif;font-size:16px;line-height:24px;}
h1{font-size:24px;}
h2{font-size:20px;margin-bottom:12px;}
#status{margin:0 0 24px 0;}
.pint{margin:12px 0;display:inline-block;width:74px;height:128px;background-image:url(pint.png);background-size:contain;}
#mapcanvas{display: inline-block;width:100%;}
a{color:#994526;cursor:pointer;}
#venue{margin-top:12px;}
#venue p{margin-bottom:12px;}
#venue img{width:100%;height:auto;max-width:300px;max-height:500px;margin:0 3px;}
/* iPhone 5 */
@media only screen and (max-height: 568px) {
  .pint{
    width: 37px;
    height: 64px;
}